<h1><%=@pirate.name%></h1>
<h1><%=@pirate.height%></h1>
<h1><%=@pirate.weight%></h1>


<h2><%=@ships[0].name%></h2>
<h2><%=@ships[0].type%></h2>
<h2><%=@ships[0].booty%></h2>


<h2><%=@ships[1].name%></h2>
<h2><%=@ships[1].type%></h2>
<h2><%=@ships[1].booty%></h2>
